/* CSS PORTION FOR INDEX.HTML
---every thing for the nav bar*/
ul{
  list-style: none;
}

a {
  text-decoration: none;
}

.indexNav{
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navUl {
  text-align: center;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: #0BC9BD;
}

.navLi{
  display: inline-block;
  font-size: large;
  margin-left: 10px;
  margin-right: 10px;
}

.aNav{
  display: flex;
  color: white;
  padding: 20px 16px;
  }

.aNav:hover{
  color: black;
}

.icons:hover{
  opacity: 0.8;
}

#logo:hover{
  opacity: 0.5;
}

.icons{
  position: relative;
  margin-right: 25px;
  margin-top: 15px;
}

/* everything for slideshow*/
.slideshow{
  padding-top: 150px;
}

.slideshow-container {
  max-width: 1700px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* slideshow Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* for trending boxes*/
.trending{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding-top: 10%;
}

.dis1{
  max-width: 575px;
  margin-top: -84px;
}

.dis2, .dis3{
  max-width: 575px;
}

.disBtn1 {
  z-index: 1;
  position: relative;
  top: -12.6%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  color: white;
  font-size: 16px;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  }

.disBtn2, .disBtn3 {
  z-index: 1;
  position: relative;
  top: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  color: white;
  font-size: 16px;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  }

  /* everything for featured box*/
.bigPicture{
  max-width: 1700px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 110px; 
}
.bigDisBtn {
  z-index: 1;
  position: relative;
  display: flex;
  align-self: center;
  margin-top: -50px;
  margin-left: 100px;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  }

/* everything for selection div*/
.selection{
  margin-top:100px;
  display: flex;   
  justify-content: center;
}

.selectionUl{
  margin:50px;
}

.selectionA{
  color: gray;
  font-size: large;
}

.selectionA:hover{
  color: black;
}

.selectionLi{
  margin-top: 25px;
}

.thinBar{
  display: flex;
  align-self: center;
  margin-left: 20px;
  height: 150px;
  width: 1px;
  background-color: gray;
}

/* footer stuff*/
footer{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 500px;
  margin-top: 100px;
  background-color: black;
}

.footerUl{
  float: left;
  font-size: 25px;
  margin-left: 200px;
}

.footerA{
  color: white;
}

.footerUlSocial{
  display: flex;
  flex-direction: row;
  float: right;
  margin-right: 200px;
  margin-top: 50px;
}

.socialLi{
  margin:20px;
}

.blackBoxBottom{
  display: flex;
  flex-direction: column;
}

#footerHr{
  background-color: gray;
  margin-top: 2.5em;
  width: 75%;
}

.footerCopyright{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footerSection{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottomLi{
  display: inline-block;
}

.bottomA{
  color: gray;
  margin: 10px;
}

/*-------------------------------CSS PORTION FOR PRODUCT.HTML---------------------------------
----nav bar------*/
.productNav{
  position: fixed;
  top: 0;
  margin-left: -10px;
  width: 100%;
  z-index: 5;
}

/*everything for product boxes*/
#products{
  width: 100%;
  display: flex;
  justify-content: center;
}

.allProducts{
  width: 86%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1800px;
  padding-top: 100px;
}

.dis{
  display: flex;
  justify-content: center;
  width: 500px;
  height: auto;
  border-radius: 20px;
  border-style: solid;
  border-color: #0BC9BD;
  border-width: 8px;
  margin: 20px;
}

.img-container{
  width: 100%;
  height: auto ; 
  object-fit: contain;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin-bottom: -45px;
}


.disBtn{
  z-index: 1;
  position: relative;
  top: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  color: white;
  font-size: 16px;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

/*-------------------------------CSS PORTION FOR ABOUT.HTML---------------------------------*/
.mottoDiv {
  position: relative;
}

.centerText {   
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 5vw;
line-height: 2;
text-align: center;
font-family: Courier Bold,Courier,Georgia,Times,serif;  
-webkit-text-stroke: 3px #0BC9BD;
}

.description{
font-family: Courier Bold,Courier,Georgia,Times,serif; 
margin-top: -10px;
padding-top: 5.8%;
padding-bottom: 5.8%;
padding-left: 30%;
padding-right: 25%;
background-color: #D4D4D4;
}

#discH1{
font-size: 40px;
}

#discP{
font-size: 20px;
}

.sideNote p{
font-family: Courier Bold,Courier,Georgia,Times,serif; 
font-size: 20px;
}

#innoH1, #quaH1{
  font-size: 60px;
}

#innoH1, #note1{
  margin-right: 40px;
}

#quaH1, #note2{
  margin-left: 40px;
}

.smallImage{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

/*----------------------------CSS PORTION FOR POP-UP LGIN & SIGN UP----------------------------*/
#login, #signup{
  display: none;
  position: fixed;
  justify-content: center;
  z-index: 3;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.top{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.mid{
  padding-top: 10px;
  width: 200px;
  display: block;
  margin: 0 auto;
}

.mid input{
  margin-left: 20px;
}

.bot{
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.bot button{
  text-align: center;
  width: 60%;
  height: 35px;
  font-size: 20px;
  border-radius: 5px;
  border-style: none;
  background-color: #0BC9BD;
}

.bot a, .bot button:hover{
  cursor: pointer;
  opacity: 0.8;
}

.top img{
  width: 15%;
}

.containers{
  width: 300px;
  border-width: 3px;
  border-color: black;
  background-color: white;
  color: black;
  position: relative;
}

#login-container
{
  height: 400px;
}

#signup-container
{
  height: 550px;
}

.login-container p{
  font-size: 30px;
}

.mid2{
  display: flex;
  justify-content: space-around;
}

.close{ 
  position: absolute; 
  right: 20px; 
  top: 0px; 
  font-size: 35px; 
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: bold; 
}

.close:hover{
  cursor: pointer;
  color: red;
}

input[type=email], 
input[type=password],
input[type=date],
input[type=text] { 
  width: 80%; 
  padding: 12px 20px; 
  margin: 8px 0; 
  display: inline-block; 
  border: 1px solid #ccc; 
  border-radius: 5px;
} 

/*animation*/
.containers {
  animation: fadeIn ease 0.5s;
}
@keyframes fadeIn {
  0% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
}  


/*responsive*/
@media screen and (max-width: 1250px){
  footer{
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 0;
  }

  .footerUl{
    font-size: medium;
    margin: 0;
  }

  .footerUlSocial{
    margin-top: 0;
  }

  .socialLi{
    margin: 5px;
  }

  .footerImages{
    width: 50px; 
    height: 50px;
  }

  .footerSection{
    display: flex;
    flex-direction: column;
    font-size: small;
    margin-left: 10px;
  }

  .footerCopyright{
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 650px) {
/*--------------------RESPONSIVE FOR INDEX.HTML PAGE-----------------------*/
  nav {
    position: fixed;
    z-index: 2;
    top: 0;
    overflow-x: hidden;
  }

  .navLi{
    font-size: small;
  }
  
  .trending{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .disBtn1, .disBtn2, .disBtn3{
    transform: translate(-50%, -200%);

  }

  .bigDisBtn {
    margin-top: -30px;
    }

  .selection{
    display: flex;
    flex-direction: column;
  }

  .thinBar{
    display: none;
  }

  .selection{
    margin-left: -30px;
  }

  .selectionUl{
    margin: 10px;
  }

  footer{
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 0;
  }

  .footerUl{
    font-size: medium;
    margin: 0;
  }

  .footerUlSocial{
    margin-top: 0;
  }

  .socialLi{
    margin: 5px;
  }

  .footerImages{
    width: 20px; 
    height: 20px;
  }

  .footerSection{
    display: flex;
    flex-direction: column;
    font-size: small;
    margin-left: 10px;
  }

  .footerCopyright{
    display: flex;
    justify-content: space-between;
  }

/*--------------------RESPONSIVE FOR PRODUCT PAGE-----------------------*/
  .productNav {
    position: fixed;
    z-index: 2;
    top: 0;
    overflow-x: hidden;
    padding-top: 0;
  }

  .allProducts{
    margin-left: 0px;
  }

  .disBtn{
    font-size: 10px;
    padding: 6px 15px;
  }

  .img-container{
    margin-bottom: -25px;
  }

  /*--------------------RESPONSIVE FOR ABOUT PAGE-----------------------*/
  .mottoDiv {
    margin-top: 100px;
  }

  #smallImage1{
    display: flex;
    flex-direction: column;

  }

  #smallImage2{
    display: flex;
    flex-direction: column-reverse;
  }

  #innoH1{
    text-align: center;
  }

  #squarImg{
    width: 50%;
  }

  .centerText{
    -webkit-text-stroke: 1px #0BC9BD;
  }

  #innoH1, #quaH1{
    font-size: 20px;
  }

  .sideNote p{
    font-size: 10px;
  }

  /*--------------------RESPONSIVE FOR LOGIN & SIGNUP PAGE-----------------------*/
  #login, #signup{
    padding-top: 50%;
  }
}

